<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>Servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesionAlumno</servlet-name>
        <servlet-class>Servlet.InicioSesionAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarAlumno</servlet-name>
        <servlet-class>Servlet.IniciarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioAlumno</servlet-name>
        <servlet-class>Servlet.InicioAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAlumno</servlet-name>
        <servlet-class>Servlet.EliminarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProfesor</servlet-name>
        <servlet-class>Servlet.RegistrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProfesor</servlet-name>
        <servlet-class>Servlet.EliminarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioMateria</servlet-name>
        <servlet-class>Servlet.InicioMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarMateria</servlet-name>
        <servlet-class>Servlet.RegistrarMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMateria</servlet-name>
        <servlet-class>Servlet.EliminarMateria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAlumno</servlet-name>
        <servlet-class>Servlet.ActualizarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProfesor</servlet-name>
        <servlet-class>Servlet.ActualizarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarMateria</servlet-name>
        <servlet-class>Servlet.ActualizarMateria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/nuevoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesionAlumno</servlet-name>
        <url-pattern>/InicioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarAlumno</servlet-name>
        <url-pattern>/InicioA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioAlumno</servlet-name>
        <url-pattern>/IniciarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAlumno</servlet-name>
        <url-pattern>/EliminarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProfesor</servlet-name>
        <url-pattern>/RegistrarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProfesor</servlet-name>
        <url-pattern>/EliminarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioMateria</servlet-name>
        <url-pattern>/InicioM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarMateria</servlet-name>
        <url-pattern>/RegistrarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMateria</servlet-name>
        <url-pattern>/EliminarM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAlumno</servlet-name>
        <url-pattern>/ActualizarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProfesor</servlet-name>
        <url-pattern>/ActualizarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarMateria</servlet-name>
        <url-pattern>/ActualizarM</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
